<!DOCTYPE html>
<html lang="en">
<head>
<%- include("./templates/head") %>
<body>
    <%- include("./templates/header", {authorised, permissions}) %>
    <div class="content">
        <h1>Entry</h1>
        <p>Enter the 8 character code found on the duck.</p>
        <% if(status == "Success!") {%>
        <div class="alert alert-success"><%= status %></div>
        <% } else if(status !== "undefined") {%>
        <div class="alert alert-danger"><%= status %></div>
        <% } %>
        <form action="/entry" method="POST">
            <div class="formItem">
                <label>Duck Code</label> <br>
                <input type="text" name="duckCode" required>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <%- include("./templates/footer", {duckFact}) %>
</html>