<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../templates/head") %>
</head>
<body>
    <%- include("../templates/header", {authorised, permissions}) %>
    <div class="content">
        <div class="login_box">
            <h2>rejoin the flock</h2>
            <% if (status === "undefined") {
            } else if ( status === "Success!" || status === "Logged out" || status === "Email verified" || status === "Password reset") { %>
                <div class="alert alert-success"><%= status %></div>
            <% } else { %>
                <div class="alert alert-danger"><%= status %></div>
            <% } %>
            <form action="/users/login" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="formItem">
                    <label>
                        email <br>
                        <input type="text" name="email" required>
                    </label>
                </div>
                <div class="formItem">
                    <label>
                        password <br>
                        <input type="password" name="password" autocomplete="off" required>
                    </label>
                </div>
                <button type="submit">welcome back</button>
                <br>
                <p>not a ducker yet? <a href="/users/register">sign up here</a></p>
                <p>can't find your verification email? <a href="/users/resend">get another here</a></p>
                <p>forgot your password? <a href="/users/reset">reset it here</a></p>
            </form>
        </div>
    </div>
    <%- include("../templates/footer", {duckFact}) %>
</body>
</html>