<!DOCTYPE html>
<html lang="en">
<head>    
<%- include("../templates/head") %>
</head>
<body>
    <%- include("../templates/header", {authorised, permissions}) %>
    <div class="content">
        <h1><%- user.username %></h1>
        <% if (status == "undefined") {
        } else if ( status == "Success!" || status == "Username updated") { %>
            <div class="alert alert-success"><%= status %></div>
        <% } else { %>
            <div class="alert alert-danger"><%= status %></div>
        <% } %>
        <h3>Update username</h3>
        <p>Your username is only shown on the scoreboard.</p>
        <form action="/users/profile" method="POST">
            <input type="text" name="username" placeholder="<%= user.username %>" required>
            <input type="submit" value="Update">
        </form>
        <h3>Update password</h3>
        <form action="/users/password" method="POST">
            <div class="formItem">
                <label>Enter current password</label> <br>
                <input type="password" name="oldPassword" required>
            </div>
            <div class="formItem">
                <label>Enter new password</label> <br>
                <input type="password" name="password" required>
            </div>
            <div class="formItem">
                <label>Confirm new password</label> <br>
                <input type="password" name="confirmPassword" required>
            </div>
            <input type="submit" value="Update">
        </form>
        <form action="/users/delete" method="POST">
            <div class="formItem">
                <label>Delete account</label> <br>
                <input type="hidden" value="<%user.id%>">
                <input type="submit" value="Delete">
            </div>
        </form>
        <h3>Ducks found</h3>
        <p>You've found <b><%- parsedFinds.length %></b> ducks.<br>For <b><%- firstFinds %></b> of those, you were the first.</p>
        <table>
            <tr>
            <th>Location Description</th>
            <th>Date Found</th>
            <th>First?</th>
            <th>Still there?</th>
            </tr>
            <% for(let i=0; i<parsedFinds.length; i++) { %>
                <tr>
                <td><%= parsedFinds[i].location %></td>
                <td><%= parsedFinds[i].date %></td>
                <td><%= parsedFinds[i].first ? "✓" : "x" %></td>
                <td><%= parsedFinds[i].obtainable ? "✓" : "x" %></td>
                </tr>
            <% } %>
        </table>

        <script src="script.js"></script>
        <h3>Delete user</h3>
        <p>Deleting your account will remove all your ducks. This action cannot be undone.</p>
        <button id="delete" onclick="deletePrompt()" href="javascript:void(0)">Delete account</button>
    </div>
    <%- include("../templates/footer", {duckFact}) %>
</body>
</html>