<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../templates/head") %>
</head>
<body>
    <%- include("../templates/header", {authorised, permissions}) %>
    <div class="content">
        <div class="login_box">
            <h2>join the duckers</h2>
            <% if (status === "undefined") {
            } else if ( status !== "Success!") { %>
                <div class="alert alert-danger"><%= status %></div>
            <% } else { %>
                <div class="alert alert-success">Check your email (and spam) for a verification link. This may take up to 5 minutes.</div>
            <% } %>
            <form action="/users/register" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input type="hidden" name="_quack" value="<%= quack %>">
                <div class="formItem">
                    <label>
                        email <i>- only players using a whs email will be eligible for the prize</i> <br>
                        <input type="text" name="email" required>
                    </label>
                </div>
                <div class="formItem"> 
                    <label>
                        username <br>
                        <input type="text" name="username" required>
                    </label>
                </div>
                <div class="formItem">
                    <label>
                        password <br>
                        <input type="password" name="password" autocomplete="off" required>
                    </label>
                </div>
                <div class="formItem">
                    <label>
                        confirm password <br>
                        <input type="password" name="confirmPassword" autocomplete="off" required>
                    </label>
                </div>
                <br>
                <button type="submit">enter the duckening</button>
            </form>
            <p>already a ducker? <a href="/users/login">sign in here</a></p>
            <p>can't find your verification email? <a href="/users/resend">get another here</a></p>
        </div>
    </div>
    <%- include("../templates/footer", {duckFact}) %>
</body>
</html>