<!DOCTYPE html>
<html lang="en">
<head>
<%- include("../templates/head") %>
</head>
<body>
    <%- include("../templates/header", {authorised, permissions}) %>
    <div class="content">
        <h1>Reset password</h1>
        <% if (status == "undefined") {
        } else if ( status !== "Success!") { %>
            <div class="alert alert-danger"><%= status %></div>
        <% } else { %>
            <div class="alert alert-success"><%= status %></div>
        <% } %>
        <form action="/users/reset" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="formItem">
                <label>email</label> <br>
                <input type="text" name="email" required>
            </div>
            <br>
            <button type="submit">reset password</button>
    </div>
    <%- include("../templates/footer", {duckFact}) %>
</body>
</html>